VITE_FIREBASE_API_KEY=AIzaSyCJApDVvk5Z_clBq-eXjcMTg1AosgnQ5j4
VITE_FIREBASE_AUTH_DOMAIN= divu-ai.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://divu-ai-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=divu-ai
VITE_FIREBASE_STORAGE_BUCKET=divu-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=774322433457
VITE_FIREBASE_APP_ID= 1:774322433457:web:80bf5c87f7d6e332522190
VITE_FIREBASE_MEASUREMENT_ID= G-CER3JC445L
VITE_FUNCTIONS_REGION=us-central1
VITE_AI_BACKEND_URL=https://us-central1-divu-ai.cloudfunctions.net/api
VITE_ADMIN_EMAILS=amannahar0807@gmail.com